In [1]:
import numpy as np
import pandas as pd
!pip install wooldridge

Collecting wooldridge
  Downloading wooldridge-0.4.4-py3-none-any.whl (5.1 MB)
     |████████████████████████████████| 5.1 MB 5.3 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from wooldridge) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->wooldridge) (1.15.0)
Installing collected packages: wooldridge
Successfully installed wooldridge-0.4.4

In [2]:
import wooldridge as wd

In [3]:
crime=wd.data("crime1")

In [4]:
crime=crime[["narr86","pcnv","avgsen","tottime","inc86"]]

In [5]:
crime

      narr86  pcnv     avgsen    tottime       inc86
0          0  0.38  17.600000  35.200001    0.000000
1          2  0.44   0.000000   0.000000    0.800000
2          1  0.33  22.799999  22.799999    0.000000
3          2  0.25   0.000000   0.000000    8.800000
4          1  0.00   0.000000   0.000000    8.100000
...      ...   ...        ...        ...         ...
2720       1  0.00   0.000000   0.000000    0.000000
2721       0  0.00   0.000000   0.000000   11.500000
2722       0  0.00   0.000000   0.000000    1.900000
2723       1  0.00   0.000000   0.000000    0.000000
2724       0  0.00   0.000000   0.000000  191.300003

[2725 rows x 5 columns]

In [6]:
w=crime.pop("narr86")

In [7]:
z=np.c_[np.ones(len(crime)),crime.to_numpy()]

In [8]:
z

array([[  1.        ,   0.38      ,  17.60000038,  35.20000076,
          0.        ],
       [  1.        ,   0.44      ,   0.        ,   0.        ,
          0.80000001],
       [  1.        ,   0.33000001,  22.79999924,  22.79999924,
          0.        ],
       ...,
       [  1.        ,   0.        ,   0.        ,   0.        ,
          1.89999998],
       [  1.        ,   0.        ,   0.        ,   0.        ,
          0.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
        191.30000305]])

In [9]:
w

0       0
1       2
2       1
3       2
4       1
       ..
2720    1
2721    0
2722    0
2723    1
2724    0
Name: narr86, Length: 2725, dtype: int64

In [43]:
class regresion:
  def __init__(self,z,w):
    self.z=z
    self.w=w
  def betas(self):
    b=np.linalg.inv(z.T@z)@(z.T@w)
    return b

In [44]:
def errorest(e):
  e=(z.T)*betas

In [45]:
z.shape

(2725, 5)

In [47]:
w=w.values.reshep(-1,1)

AttributeError: ignored

In [27]:
b=np.linalg.inv(z.T@z)@(z.T@w)

In [31]:
b

array([[ 0.59387489],
       [-0.16243696],
       [-0.00618803],
       [ 0.00771062],
       [-0.00243615]])

In [33]:
westim=z@b

In [34]:
errorestim=w-westim

In [38]:
varianza=(errorestim.T@errorestim)/(n-k)

NameError: ignored